### Load the Libraries and import the data

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import pandas_profiling
import rpy2
import rpy2.rinterface
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')
import warnings # current version of seaborn generates a bunch of warnings that we'll ignore
warnings.filterwarnings("ignore")
import seaborn as sns
#import rpy2.ipython

In [ ]:
#Read in the data from the file
df = pd.read_csv('C:/githubrepo/7331_Project/data/Employee_Compensation.csv')
print("Finished Loading Data.")

## Data Quality
Visualize the negatives as percentage (from Orig Data)
Job Family Code: 36 Unassigned
Job Family Code: 2451 with code of 0
Job Family: 2451 Untitled
Job Family: 36 Unassigned

Dept is 50% blank but can be fixed using reference https://data.sfgov.org/City-Management-and-Ethics/Reference-Department-Code-List/j2hz-23ps/data

In [ ]:
#Save the dataframe into a new dataframe to clean
df_clean = df
#Keeps all of the Fiscal Year entries
df_clean = df_clean[df_clean['Year Type'] == 'Fiscal']
print(df_clean.info())

In [ ]:
#Get names of indexes for which column Year has value 2028
indexNames = df_clean.loc[df_clean['Year'] == 2028, 'Year'].index
# Delete these row indexes from dataFrame
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Get names of indexes for which column Job is Null
indexNames = df_clean.loc[df_clean['Job'] == np.NaN, 'Year'].index
# Delete these row indexes from dataFrame
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Deletes the 1 row missing the Job
indexNames = df_clean.loc[df_clean['Job'].isnull()].index
df_clean.drop(indexNames, inplace = True)
df_clean.describe()

In [ ]:
#Delete Salaries values with negatives
indexNames = df_clean.loc[df_clean['Salaries'] < 0, 'Salaries'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Overtime values with negatives
indexNames = df_clean.loc[df_clean['Overtime'] < 0, 'Overtime'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Other Salaries values with negatives
indexNames = df_clean.loc[df_clean['Other Salaries'] < 0, 'Other Salaries'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Total Salary values with negatives
indexNames = df_clean.loc[df_clean['Total Salary'] < 0, 'Total Salary'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Retirement values with negatives
indexNames = df_clean.loc[df_clean['Retirement'] < 0, 'Retirement'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Health and Dental values with negatives
indexNames = df_clean.loc[df_clean['Health and Dental'] < 0, 'Health and Dental'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Other Benefits values with negatives
indexNames = df_clean.loc[df_clean['Other Benefits'] < 0, 'Other Benefits'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Total Benefits values with negatives
indexNames = df_clean.loc[df_clean['Total Benefits'] < 0, 'Total Benefits'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
#Delete Total Compensation values with negatives
indexNames = df_clean.loc[df_clean['Total Compensation'] < 0, 'Total Compensation'].index
df_clean.drop(indexNames, inplace = True)

In [ ]:
df_clean.describe()

In [58]:
# Check Missing Data
total = df_clean.isnull().sum().sort_values(ascending = False)
percent = (df_clean.isnull().sum() / df_clean.isnull().count() * 100).sort_values(ascending = False)
pd.concat([total, percent], axis = 1, keys = ['Total', 'Percent']).transpose()

,Department,Department Code,Union Code,Union,Total Compensation,Total Benefits,Year,Organization Group Code,Organization Group,Job Family Code,...,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health and Dental,Other Benefits,Year Type
Total,121254.000000,28940.000000,215.00000,215.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,36.347776,8.675216,0.06445,0.06445,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
df_clean.to_csv("EmpComp_Cleaned.csv", sep='\t')